
body{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center; 
  font-family: 'Inter', sans-serif;
}
thead {
  background-color: #6a6767;
  width: 100%;
  padding: 2%;
}
table, td, th {
  border: .6px solid rgb(167, 163, 163);
  padding: 1rem 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  text-align: center;
  padding: 1%;
}


